::-moz-selection { background: rgb(37, 91, 172); color: white; }
::selection { background: rgb(37, 91, 172); color: white; }

html {
    font-family: 'Readex Pro', sans-serif;
}

body {
    background-color: rgb(225, 228, 225);
}

footer {
    padding-top: 5%;
    padding-bottom: 0.5%;
    text-align: center;
}

.footer-links {
    color: rgb(131, 130, 130);
    margin-left: 0.5%;
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
}

.middle {
    background-color: rgb(225, 228, 225);
    padding-left: 80px;
    padding-right: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(189, 189, 189);
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}

.header-headline {
    color: rgb(72, 113, 167);
    font-size: 32px;
    padding: 3%;
    font-weight: bold;
    text-decoration: none;
}

.header-headline:hover {
    color: rgb(28, 48, 110);
}

.header-links {
    color: rgb(72, 113, 167);
    text-decoration: none;
    margin-left: 16px;
    font-weight: bold;
    font-size: 20px;
}

.header-links:hover {
    color: rgb(28, 48, 110);
}

.text-container {
    background-color: rgb(225, 228, 225);
    padding: 8px;
    color: rgb(44, 44, 44);
    font-weight: 400;
}

.side-headline {
    text-align: center;
    color: rgb(37, 91, 172);
    font-size: 60px;
}

.side-headline-2 {
    text-align: left;
    color: rgb(67, 96, 185);
    font-size: 45px;
    font-weight: normal;
    
}

.side-text {
    text-align: left;
    color: rgb(66, 66, 66);
    font-size: 25px;
}

.hyperlink {
    color: rgb(67, 96, 185);
}

.image-gallery {
    display: flex;
    justify-content: space-between;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
}

.contact-box {
    background-color: white;
    padding: 5%;
    margin: 10px;
    float: left;
    width: 20%;
}

.contact-headline {
    color: rgb(67, 96, 185);
    font-size: 25px;
}

.contact-text {
    color: rgb(66, 66, 66);
    font-size: 18px;
}

.contact-link {
    color: rgb(67, 96, 185);
    text-decoration: none;
}

.contact-link:hover {
    color: rgb(28, 48, 110);
}

.footer-padding {
    padding-top: 5%;
}

.center {
    text-align: center;    
}

.text {
    color: green;
    font-size: 45px;
}

.other {
    color: royalblue;
    font-size: 50px;
}

.image-container {
    background-color: white;
    padding: 16px;
}

.prankgo-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
}

.me-image {
    width: 100%;
}
.avatar-image {
    width: 100%;
}

.image-text {
    background-color: rgb(225, 228, 225);
    padding: 8px;
    color: rgb(44, 44, 44);
    font-weight: 400;
    text-align-last: center;
    font-size: 22px;
}

.between-image-gallery {
    padding: 1%;
}